<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huawei.gamecenter.minigame.huawei">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameCode20211118"
        tools:node="merge">
        <activity
            android:name="com.intermodaltransport.huawei.activity.BaseActivity"
            android:theme="@style/Theme.GameCode20211118.NoActionBar" />
        <activity android:name="com.intermodaltransport.huawei.activity.AchievementMainActivity" />
        <activity android:name="com.intermodaltransport.huawei.activity.ArchiveSummaryMainActivity" />
        <activity android:name="com.intermodaltransport.huawei.activity.RankingMainActivity" />
        <activity
            android:name="com.intermodaltransport.huawei.activity.SubscriptionPurchaseActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.intermodaltransport.huawei.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.intermodaltransport.huawei.activity.ShoppingActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="com.intermodaltransport.huawei.activity.UserInfoActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="com.intermodaltransport.huawei.MainActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>